@import 'tailwindcss';

:root {
	--button-secondary-hover: #323237;
	--button-primary-hover: #fff;
	--button-primary: #e6e6e6;
	--border-primary-hover: #3a3f4c;
	--border-primary: #2c2e33;
	--button-secondary: #35353b;
	--background-primary: #08090a;
	--button-tertiary: #1e2025;
	--divider: #191c1f;
	--card: #0f1011;
	--foreground-secondary: #969799;
	--foreground-primary: #e3e4e6;
	--button-tertiary-hover: #26282f;
	--input-primary: #0f1011;
	--foreground-inverse: #08090a;
	--wrong: #ff8583;
	--input-primary-placeholder: #595a5c;
	--success: #71c57f;
	--muted: #1e1f22;
	--accent: #4a7ee0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    }
    } */

body {
	background: var(--background);
	color: var(--foreground);
	font-family: 'Manrope', sans-serif;
}

/* Кастомный скролл для всего приложения */
body::-webkit-scrollbar {
	width: 8px; /* ширина вертикального скролла */
	height: 8px; /* высота горизонтального скролла */
}

body::-webkit-scrollbar-track {
	background: var(--card); /* фон дорожки скролла */
	border-radius: 4px;
}

body::-webkit-scrollbar-thumb {
	background: var(--foreground-secondary); /* цвет ползунка */
	border-radius: 4px;
	transition: background 0.2s;
}

body::-webkit-scrollbar-thumb:hover {
	background: var(--accent); /* цвет ползунка при наведении */
}

/* Для Firefox (немного упрощенно, не поддерживает градиенты и скругления как Webkit) */
* {
	scrollbar-width: thin;
	scrollbar-color: var(--foreground-secondary) var(--card);
}
